res/app/control-panes/session-analysis-page/session-analysis.html
<div class="test-modal">
    <ul class="test-table-list performace-download">
        <li>
            <span class="test-table-head">Date - Time</span><span
                class="test-table-data">{{sessionData.startTime}}</span>
        </li>
        <li>
            <span class="test-table-head">App Project</span><span class="test-table-data">-</span>
        </li>
        <li>
            <span class="test-table-head">Build</span><span class="test-table-data">-</span>
        </li>
        <li>
            <span class="test-table-head">Test Location</span><span
                class="test-table-data">{{sessionData.location}}</span>
        </li>
        <li>
            <span class="test-table-head">Test Device</span><span class="test-table-data">-</span>
        </li>
        <li>
            <span class="test-table-head">Network</span><span class="test-table-data">{{sessionData.carrier}}</span>
        </li>
        <li>
            <span class="test-table-blank test-table-head" style="color: transparent">blank</span><span
                class="test-table-link"><a class="btn btn-primary-outline btn-sm" href="javascript:void(0)">Change</a>
                <span class="export-icons download-icon" title="download" ng-click="openPcapsDownload()">
                    <div class="export-list" ng-class="{'d-none':!sharePopup}">
                        <a class="export-link" ng-click="downloadFile('device-resource.heap-mem')"><span
                                class="export-icons csv-icon" title="csv"></span><span class="export-text">Heap
                                Memory</span></a><a class="export-link"
                            ng-click="downloadFile('device-resource.frames')"><span class="export-icons csv-icon"
                                title="csv"></span><span class="export-text">Frames</span></a><a class="export-link"
                            ng-click="downloadFile('device-resource.mem')"><span class="export-icons csv-icon"
                                title="csv"></span><span class="export-text">Memory</span></a><a class="export-link"
                            ng-click="downloadFile('device-resource.battery')"><span class="export-icons csv-icon"
                                title="csv"></span><span class="export-text">Battery</span></a><a class="export-link"
                            ng-click="downloadFile('device-resource.cpu')"><span class="export-icons csv-icon"
                                title="csv"></span><span class="export-text">CPU</span></a><a class="export-link"
                            ng-click="downloadFile('device-resource.har')"><span class="export-icons csv-icon"
                                title="csv"></span><span class="export-text">HAR</span></a>
                    </div>
                </span>
            </span>
        </li>
    </ul>
    <div class="network-details">
        <div class="accordion-create" ng-click="openCloseTab('network')"
            ng-class="{'accordion-active': networkTabActive}">
            <h2 class="accordion-network">Network Calls - Summary KPIs</h2>
            <span class="plus"></span>
        </div>
        <div class="score-wrap-inner" ng-class="{'active':networkTabActive}" ng-style="{'max-height':networkHeightSet}">
            <div class="data-pie">
                <div class="network-divs" style="width: 41%">
                    <h4 class="title">Data Exchange</h4>
                    <label>Uploaded: </label><span> 80.55KB</span><br />
                    <label>Downloaded: </label><span> 706.53KB</span><br />
                    <label>Duration: </label><span> 79 sec</span><br />
                    <label>Total numbers of calls: </label>
                </div>
                <!-- <div class="network-divs" style="width: 18%;margin-left: -3%;margin-top: 3%;"> -->
                    <div style="width: 58%;margin-top: 12%;">
                        <div id="pie1" style="height: 200px"></div>
                    </div>
               
                <!-- </div> -->
            </div>
            <!-- <div class="vertical"></div> -->
            <div class="network-divs shadow" style="width: 18.5%">
                <h4 class="title">Top URls</h4>
                <label>Downloaded Bytes </label><br />

                <label class="top-urls">URL</label> <label class="top-urls">Value</label><br />
                <label class="top-urls">URL</label> <label class="top-urls">Value</label><br />
                <label class="top-urls">URL</label> <label class="top-urls">Value</label>
            </div>
            <!-- <div class="vertical"></div> -->
            <div class="network-divs shadow" style="width: 18.5%">
                <h4 class="title">Timing KPIs</h4>
                <label>All URL List </label><br />
                <div id="pie2" style="height: 200px;margin-top: -5%;"></div>
                <!-- <canvas id="pie2" width="400" height="400"></canvas> -->
            </div>
            <!-- <div class="vertical"></div> -->
            <!-- <div class="network-divs" style="width: 18%"> -->
                <div class="data-pie">
                    <div style="width:58%;">
                        <h4 class="title">Assests</h4>
                        <div id="pie3" style="height: 200px;margin-top: 16%;"></div>
                    </div>
               
                <!-- <canvas id="pie3" width="400" height="400"></canvas> -->
            <!-- </div> -->
            <div class="network-divs" style="margin-top: 3%; width: 41%;">
                <label>Biggest Assests</label><br>

                <label class="top-urls">URL</label> <label class="top-urls">Value</label><br />
                <label class="top-urls">URL</label> <label class="top-urls">Value</label><br />
                <label class="top-urls">URL</label> <label class="top-urls">Value</label>
            </div>
            </div>
        </div>
    </div>
    <div class="score-wrapper">
        <div class="accordion-create" ng-click="openCloseTab('kpi')" ng-class="{'accordion-active':kpiTabActive}">
            <h2 class="accordion-network">Device Resources - Summary KPIs</h2>
            <span class="plus"></span>
        </div>
        <div class="score-wrap-inner" ng-class="{'active':kpiTabActive}" ng-style="{'max-height':kpiHeightSet}">
            <div class="network-divs kpi">
                <h4 class="title">CPU Usage</h4>
                <label>Net CPU %</label>
                <h2>31%</h2>
                <label>Min:</label> <span> 1</span><br />
                <label>Max:</label> <span> 2</span><br />
            </div>
            <div class="network-divs kpi">
                <h4 class="title">Memory Usage</h4>
                <label>Memory used (MB)</label>
                <h2>2463 MB</h2>
                <label>Min:</label> <span> 1</span><br />
                <label>Max:</label> <span> 2</span><br />
            </div>
            <div class="network-divs kpi">
                <h4 class="title">Battery Drain</h4>
                <label>Battery used (mJ/s)</label>
                <h2>25 mJ/s</h2>
            </div>
            <div class="network-divs kpi">
                <h4 class="title">Graphics</h4>
                <label>Average janky frames</label>
                <h2>78 / sec</h2>
                <label>Min:</label> <span> 1</span><br />
                <label>Max:</label> <span> 2</span><br />
            </div>
            <div class="network-divs kpi" style="margin-top: 3%">
                <label>Frame render time</label>
                <h2>10.3 ms</h2>
                <label>Min:</label> <span> 1</span><br />
                <label>Max:</label> <span> 2</span><br />
            </div>
        </div>
    </div>
    <div class="analysis" id="analysisFeez">
        <div class="analysis-left">
            <div class="analysis-media">
                <div class="analysis-video">
                    <div class="analysis-phn">
                        <img src="/static/logo/exports/iphone.png" alt="">
                    </div>
                    <div class="overlay-wrapper">

                        <video width="320" height="240" id="analysis-video" autoload="true">
                            <source
                                src="https://aquamark.blob.core.windows.net/aquamark-container/allfiles/98f618d3741696b51621727502593/98f618d3741696b51621727502593video.mp4"
                                type="video/mp4">
                        </video>

                    </div>
                </div>
            </div>
            <div class="issue-card">
                <div class=card-position>
                    <div class="issue-card-kpis">
                        <h3>Device resource Issues</h3>
                        <div class="issue-card-aspects">
                            <h5>CPU usage (Net CPU %) > 50%</h5>
                            <button>T1 : T2 - High CPU usage</button>
                            <button>T3 : T4</button>
                        </div>
                        <div class="issue-card-aspects">
                            <h5>Memory usage > 50%</h5>
                            <button>T1 : T2 - High usage</button>
                        </div>
                        <div class="issue-card-aspects">
                            <h5>GPU usage % > 50%</h5>
                            <button>T5 : T6</button>
                        </div>

                        <div class="issue-card-aspects">
                            <h5>Battery drain</h5>
                            <button>T5 : T6</button>
                        </div>
                        <div class="issue-card-aspects">
                            <h5>Slow UI Thread (frame render > 8ms)</h5>
                            <button>T5 : T6</button>
                        </div>
                        <div class="issue-card-aspects">
                            <h5>Janky frames detected</h5>
                            <button>T5 : T6</button>
                        </div>
                    </div>
                    <div class="issue-card-kpis">
                        <h3>Network Issues</h3>
                        <div class="issue-card-aspects">
                            <h5>HTTP Errors</h5>
                            <button>URL</button>
                            <button>URL</button>
                            <button>URL</button>
                        </div>
                        <div class="issue-card-aspects">
                            <h5>Server Wait Time > 1000 ms</h5>
                            <button>URL</button>
                        </div>
                        <div class="issue-card-aspects">
                            <h5>TLS Setup Time > 500 ms</h5>
                            <button>URL</button>
                        </div>
                        <div class="issue-card-aspects">
                            <h5>Load Time > 5 secs</h5>
                            <button>URL</button>
                        </div>
                    </div>
                    <div class="issue-card-kpis">
                        <h3>Issues</h3>
                        <div class="issue-card-aspects">
                            <h5>Not optimized asset format</h5>
                            <button>Image:JPEG<br>URL</button>
                            <button>Image:JPEG<br>URL</button>
                            <button>Image:JPEG<br>URL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-scroll">
            <div ng-if="videoTime">
                <div class="time-slider">
                    <div class="time-list-wrap">
                        <div class="time-handle" id="time-handle">
                            <span class="time-text">0 sec.</span>
                        </div>
                        <div class="time-listing">
                            <div ng-repeat="mili in scaleGenerate">
                                <span class="time-text">{{mili}}</span>
                                <span class="time-sec" ng-if="!$last">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="analysis-right">
                <div class="analysis-graphs">
                    <div class="analysis-head">
                        <div class="analysis-titles">
                            <h3>CPU Usage KPIs</h3>
                            <h4>Net CPU Usage %</h4>
                        </div>
                        <div class="timeseries-choice timeseries-protocols">
                            <div class="input-wrap dropdown-light">
                                <div class="select-input-wrapper">
                                    <select>
                                        <option>Net CPU Usage %</option>
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div #charts id="cpu" style="height: 250px"></div>
                </div>
                <div class="analysis-graphs">
                    <div class="analysis-head">
                        <div class="analysis-titles">
                            <h3>Memory Usage KPIs</h3>
                            <h4>Memory Used (MB)</h4>
                        </div>
                        <div class="timeseries-choice timeseries-protocols">
                            <div class="input-wrap dropdown-light">
                                <div class="select-input-wrapper">
                                    <select>
                                        <option>Memory Used (MB)</option>
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div #charts id="memory" style="height: 250px"></div>
                </div>
                <div class="analysis-graphs">
                    <div class="analysis-head">
                        <div class="analysis-titles">
                            <h3>Graphics KPIs</h3>
                            <h4>Janky frame count</h4>
                        </div>
                        <div class="timeseries-choice timeseries-protocols">
                            <div class="input-wrap dropdown-light">
                                <div class="select-input-wrapper">
                                    <select>
                                        <option>Janky frame count</option>
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div #charts id="graphics" style="height: 250px"></div>
                </div>
                <div class="analysis-graphs">
                    <div class="analysis-head">
                        <div class="analysis-titles">
                            <h3>Battery Usage KPIs</h3>
                            <h4>Battery drain (mJ)</h4>
                        </div>
                        <div class="timeseries-choice timeseries-protocols">
                            <div class="input-wrap dropdown-light">
                                <div class="select-input-wrapper">
                                    <select>
                                        <option>Battery drain (mJ)</option>
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div #charts id="battery" style="height: 250px"></div>
                </div>
                <div class="analysis-graphs">
                    <div class="analysis-head">
                        <div class="analysis-titles">
                            <h3>Network Bytes exchanged</h3>
                            <h4>Bytes per sec</h4>
                        </div>
                        <div class="timeseries-choice timeseries-protocols">
                            <div class="input-wrap dropdown-light">
                                <div class="select-input-wrapper">
                                    <select>
                                        <option>Bytes per sec</option>
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div #charts id="network" style="height: 250px"></div>
                </div>

                <section class="main-content">
                    <h3>Network Calls</h3>
                    <h5>Show network calls with:</h5>
                    <div class="filter">
                        <div class="parameter">
                            <input type="radio">
                            <label>HTTP error</label>
                        </div>
                        <div class="parameter">
                            <input type="radio">
                            <label>Wait time > </label>
                            <input type="number">
                        </div>
                        <div class="parameter">
                            <input type="radio">
                            <label>TLS time > </label>
                            <input type="number">
                        </div>
                        <div class="parameter">
                            <input type="radio">
                            <label>String </label>
                            <input type="text">
                        </div>
                        <div class="parameter">
                            <input type="radio">
                            <label>Asset type</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="filter-button">
                        <button>Apply Filter</button>
                    </div>
                    <div id="legend-holder"></div>
                    <select id="page-selector"></select>
                    <div class="output"></div>
                </section>

            </div>
        </div>
    </div>
</div>



<!-- <div>

    <section class="main-content">
        <fieldset>
                <legend>Try it!</legend>
                <label for="fileinput">Upload a <code>*.har</code> or <code>*.zhar</code> file to visualize
                    it</label>
                <input type="file" id="fileinput" />
                <span>or</span>
                <button type="button" id="use-example">use example HAR</button>
            </fieldset>
        <h2>Har WaterFall Viewer</h2>
        <div id="legend-holder"></div>
        <select id="page-selector"></select>
        <div class="output"></div>
    </section>

</div> -->

res/app/control-panes/session-analysis-page/session-analysis.pug
.test-modal
  ul.test-table-list.performace-download
    li
      span.test-table-head Date - Time
      span.test-table-data {{sessionData.startTime}}
    li
      span.test-table-head App Project
      span.test-table-data -
    li
      span.test-table-head Build
      span.test-table-data -
    li
      span.test-table-head Test Location
      span.test-table-data {{sessionData.location}}
    li
      span.test-table-head Test Device
      span.test-table-data -
    li
      span.test-table-head Network
      span.test-table-data {{sessionData.carrier}}
    li
      span.test-table-blank.test-table-head(style='color: transparent;') blank
      span.test-table-link
        a.btn.btn-primary-outline.btn-sm(href='javascript:void(0)') Change
        span.export-icons.download-icon(title='download' , ng-click="openPcapsDownload()")
         .export-list(ng-class="{'d-none':!sharePopup}")
            a.export-link(ng-click="downloadFile('device-resource.heap-mem')")
             span.export-icons.csv-icon(title='csv')
             span.export-text Heap Memory
            a.export-link(ng-click="downloadFile('device-resource.frames')")
             span.export-icons.csv-icon(title='csv')
             span.export-text Frames
            a.export-link(ng-click="downloadFile('device-resource.mem')")
             span.export-icons.csv-icon(title='csv')
             span.export-text Memory
            a.export-link(ng-click="downloadFile('device-resource.battery')")
             span.export-icons.csv-icon(title='csv')
             span.export-text Battery
            a.export-link(ng-click="downloadFile('device-resource.cpu')")
             span.export-icons.csv-icon(title='csv')
             span.export-text CPU

  .network-details
    .accordion-create(ng-click="openCloseTab('network')",ng-class="{'accordion-active': networkTabActive}")
       h2.accordion-network Network
       span.plus
  .score-wrapper     
    .accordion-create
       h2.accordion-network KPI
       span.plus
